<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>

<h1 hidden>CurrentUser: <%=currentUser%></h1>
<h1 hidden>CurrentProfile: <%=currentProfile%></h1>
<h1 hidden>profile</h1>
<div class="container">

    <div class="container profileBackground bg-light">
        <br>
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color"><%=currentProfile%></h3>
                    <h6 class="theme-color lead">Información del usuario</h6>
                    <p>Me llamo <%=usuario.nombre%> <%=usuario.apellido%></p>
                    <p>Soy <%=trabajo[0].trabajo.nombre%> en <%=trabajo[0].trabajo.organizacion%>, <%=trabajo[0].trabajo.ubicacion%></p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Pais</label>
                                <p><%=usuario.pais%></p>
                            </div>
                            <div class="media">
                                <label>Ciudad</label>
                                <p><%=usuario.ciudad%></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p><%=usuario.correo%></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="" style="border: 1px solid black">
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="container profileBackground bg-light">
        <div class="list-group">
            <br>
            <p class="card-text-title tituloHome">Experiencia</p>
            <%trabajo.forEach((value) =>{%>
                <a class="list-group-item list-group-item-action flex-column align-items-start border-1">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="color-font-profile mb-1">Trabajo como <%=value.trabajo.nombre%></h5>
                        <small>
                            <form method="POST" action="agregarTrabajo">
                                <button class="btn-info btn btn-size-profile">Agregar</button>
                            </form>
                        </small>
                    </div>
                    <p class="color-font-profile mb-1"> en <%=value.trabajo.organizacion%> - <%=value.trabajo.tipo%></p>
                    <p class="color-font-profile mb-1"> desde: <%=value.anioInicio%> hasta: <%=value.anioFin%></p>
                    <small>Lugar: <%=value.trabajo.ubicacion%></small>
                </a>
            <%})%>
            <br>
        </div>
    </div>



    <div class="container profileBackground bg-light">
        <div class="list-group">
            <br>
            <p class="card-text-title tituloHome">Empleos publicados</p>

<!--            SI TIENE EMPLEOS PUBLICADOS -->
            <%if(empleos.length > 0){%>
                <%for (let i = 0; i < empleos.length; i++) {%>
                    <span class="list-group-item flex-column align-items-start border-1">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="color-font-profile mb-1"><%=empleos[i]["nombreEmpleo"]%></h5>
                            <%if(currentProfile == currentUser){%>
                            <small>
                                <a href="/empleo/publicacion/<%=empleos[i]["idEmpleo"]%>">
                                    <button class="btn-info btn btn-size-profile">Ver</button>
                                </a>
                            </small>
                            <%}%>
                        </div>
                        <p class="color-font-profile mb-1"><%=empleos[i]["nombreEmpresa"]%></p>
                        <p class="color-font-profile mb-1"><%=empleos[i]["ubicacionEmpleo"]%></p>
                        <p class="color-font-profile mb-1">
                            <%=empleos[i]["numAplicaciones"]%>
                            <%if(empleos[i]["numAplicaciones"]>1){%>
                            Solicitudes
                            <%}else{%>
                            Solicitud
                            <%}%>
                        </p>
                        <hr class="hr-card-empleo">
                        <small class="text-muted"><%=empleos[i]["fechaPublicacion"]%></small>
                    </span>
                    <%if(i == (empleos.length-1)){%>
                        <br>
                    <%}%>
                <%}%>
            <%}else{%>
<!--            SI NO TIENE EMPLEOS PUBLICADOS-->
            <div class="alert alert-info" role="alert">
                No tiene empleos publicados
            </div>
            <%}%>

        </div>
    </div>


    <br>
</div>





<%- include('../compartido/footer/footer-component')%>