<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>

<h1 hidden>CurrentUser: <%=currentUser%></h1>
<h1 hidden>CurrentProfile: <%=currentProfile%></h1>
<h1 hidden>profile</h1>
<div class="container">
    <div class="container profileBackground">
        <br>
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color"><%=currentProfile%></h3>
                    <h6 class="theme-color lead">Información del usuario</h6>
                    <p>Me llamo <%=usuario.nombre%> <%=usuario.apellido%></p>
                    <p>Soy <%=trabajo[0].trabajo.nombre%> en <%=trabajo[0].trabajo.organizacion%>, <%=trabajo[0].trabajo.ubicacion%></p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Pais</label>
                                <p><%=usuario.pais%></p>
                            </div>
                            <div class="media">
                                <label>Ciudad</label>
                                <p><%=usuario.ciudad%></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p><%=usuario.correo%></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="" style="border: 1px solid black">
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="container profileBackground">
        <div class="list-group">
            <br>
            <p class="tituloHome">Experiencia</p>
            <%console.log(trabajo)%>
            <% trabajo.forEach((value) =>{%>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Trabajo como <%=value.trabajo.nombre%></h5>
                        <small>Agregar</small>
                    </div>
                    <p class="mb-1"> en <%=value.trabajo.organizacion%> - <%=value.trabajo.tipo%></p>
                    <p class="mb-1"> desde: <%=value.anioInicio%> hasta: <%=value.anioFin%></p>
                    <small>Lugar: <%=value.trabajo.ubicacion%></small>
                </a>
            <%})%>
            <br>
        </div>
    </div>
    <div class="container profileBackground">

    </div>
    <a href="/home/logout">
        <button class="btn-primary btn-dark">Cerrar sesión</button>
    </a>
</div>


<%- include('../compartido/footer/footer-component')%>