<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>

<% let existeNombre = typeof nombre !== 'undefined' %>
<% let existeApellido = typeof apellido !== 'undefined' %>
<% let existeTrabajo = typeof(trabajo) != 'undefined'%>

<div class="container">
    <div class="container">
        <h1><%= existeTrabajo ? 'Editar': 'Seleccionar'%> empleo</h1>
        <%if(!existeTrabajo){%>
        <%existeNombre = true%>
        <%existeApellido = true%>
        <%existeCorreo = true%>
        <%nombre = usuario.nombre%>
        <%apellido = usuario.apellido%>
        <%cedula = usuario.cedula%>
        <%}%>

        <% if(typeof error !== 'undefined'){%>
            <p>Mensaje Error: <%= error%></p>
        <%}%>
        <form action="<%= existeTrabajo ? '/usuario/editarDesdeVista/'+usuario.id : '/usuario/crearDesdeVista'%>"
              method="POST">
            <div class="form-group">
                <label for="empresaID">Empresa</label>
                <input id="empresaID" type="text" name="empresa"
                       class="form-control" placeholder="Empresa mas reciente">
            </div>
            <div class="form-group">
                <label for="cargoID">Cargo mas reciente</label>
                <input id="cargoID" type="text"
                       name="cargo" class="form-control"
                       placeholder="Cargo mas reciente">
            </div>
            <div class="form-group">
                <label for="tipoEmpleoID">Tipo de empleo</label>
                <select class="form-control" id="tipoEmpleoID" name="tipoEmpleo">
                    <option>Tipo de empleo</option>
                    <option value="jornadaCompleta">Jornada completa</option>
                    <option value="jornadaParcial">Jornada parcial</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ubicacionID">Ubicacion</label>
                <textarea class="form-control" id="ubicacionID" rows="3"
                name = "ubicacion" placeholder="Ubicacion del trabajo"></textarea>
            </div>
            <div class="form-group">
                <label for="fechaInicioID">Fecha de inicio</label>
                <input id="fechaInicioID" type="date"
                       name="fechaInicio" class="form-control"
                       placeholder="Fecha de inicio del trabajo">
            </div>
            <div class="form-group">
                <label for="fechaFinID">Fecha de fin (fecha actual en caso de seguir trabajando)</label>
                <input id="fechaFinID" type="date"
                       name="fechaFin" class="form-control"
                       placeholder="Fecha de fin del trabajo">
            </div>

            <button type="submit" class="btn btn-primary">Registrarse</button>
            <button type="reset" class="btn btn-primary">limpiar</button>
        </form>
    </div>
</div>

<%- include('../compartido/footer/footer-component')%>