<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>

<% let existeNombre = typeof nombre !== 'undefined' %>
<% let existeApellido = typeof apellido !== 'undefined' %>
<% let existeUsuario = typeof(usuario) != 'undefined'%>
<% let existeCorreo = typeof correo !== 'undefined' %>

<div class="container">
    <div class="container">
        <h1 class="formularioTitulo"><%= existeUsuario ? 'Editar': 'Unirse'%></h1>

        <%if(existeUsuario){%>
        <%existeNombre = true%>
        <%existeApellido = true%>
        <%existeCorreo = true%>
        <%nombre = usuario.nombre%>
        <%apellido = usuario.apellido%>
        <%cedula = usuario.correo%>
        <%}%>

        <% if(typeof error !== 'undefined'){%>
            <div class="alert alert-danger" role="alert">
                Error: <%= error%>
            </div>
        <%}%>
        <form action="/home/signup"
              method="POST">
            <div class="form-group">
                <label for="correoID">Correo electrónico</label>
                <input id="correoID" type="email"
                       name="correo" class="form-control"
                       placeholder="Enter email"
                       value="<%= existeCorreo ? correo : '' %>">
            </div>
            <div class="form-group">
                <label for="passwordID">Contraseña</label>
                <input id="passwordID" type="password" name="password"
                       class="form-control" placeholder="Contraseña"
                       value="<%= existeApellido ? apellido : '' %>">
            </div>
            <div class="form-group">
                <label for="passwordConfirmarID">Confirmar</label>
                <input id="passwordConfirmarID" type="password" name="passwordConfirmar"
                       class="form-control" placeholder="Confirmar contraseña"
                       value="<%= existeApellido ? apellido : '' %>">
            </div>
            <div class="form-group">
                <label for="nombreID">Nombre</label>
                <input id="nombreID" type="text" name="nombre"
                       class="form-control" placeholder="Nombre"
                       value="<%= existeApellido ? apellido : '' %>">
            </div>
            <div class="form-group">
                <label for="apellidoID">Apellido</label>
                <input id="apellidoID" type="text" name="apellido"
                       class="form-control" placeholder="Apellido"
                       value="<%= existeApellido ? apellido : '' %>">
            </div>
            <div class="form-group">
                <label for="paisID">Seleccione su País/Región</label>
                <select class="form-control" id="paisID" name="pais">
                    <option>Escoja uno...</option>
                    <option value="Alemania">Alemania</option>
                    <option value="Brasil">Brasil</option>
                    <option value="China">China</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="España">España</option>
                    <option value="Estados Unidos">Estados Unidos</option>
                    <option value="Italia">Italia</option>
                    <option value="Reino Unido">Reino Unido</option>
                    <option value="Rusia">Rusia</option>
                    <option value="Tailandia">Tailandia</option>
                    <option value="Turquia">Turquía</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ciudadID">Ciudad</label>
                <input id="ciudadID" type="text" name="ciudad"
                       class="form-control" placeholder="Ciudad"
                       value="<%= existeApellido ? apellido : '' %>">
            </div>
            <button type="submit" class="btn btn-primary">Siguiente</button>
            <button type="reset" class="btn btn-primary">Limpiar Campos</button>

        </form>
    </div>
</div>

<%- include('../compartido/footer/footer-component')%>