<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>

<% let existeNombre = typeof nombre !== 'undefined' %>
<% let existeApellido = typeof apellido !== 'undefined' %>
<% let existeUsuario = typeof(usuario) != 'undefined'%>
<% let existeCorreo = typeof correo !== 'undefined' %>

<div class="container">
    <div class="container">
        <h1><%= existeUsuario ? 'Editar': 'Unirse'%></h1>
        <%if(existeUsuario){%>
        <%existeNombre = true%>
        <%existeApellido = true%>
        <%existeCorreo = true%>
        <%nombre = usuario.nombre%>
        <%apellido = usuario.apellido%>
        <%cedula = usuario.cedula%>
        <%}%>

        <% if(typeof error !== 'undefined'){%>
            <p>Mensaje Error: <%= error%></p>
        <%}%>
        <form action="<%= existeUsuario ? '/usuario/editarDesdeVista/'+usuario.id : '/usuario/crearDesdeVista'%>"
              method="POST">
            <div class="form-group">
                <label for="correoID">Correo electr칩nico</label>
                <input id="correoID" type="email"
                       name="correo" class="form-control"
                       placeholder="Enter email"
                       value="<%= existeCorreo ? correo : '' %>">
            </div>
            <div class="form-group">
                <label for="passwordID">Contrase침a</label>
                <input id="passwordID" type="password" name="password"
                       class="form-control" placeholder="Contrase침a"
                       value="<%= existeApellido ? apellido : '' %>">
            </div>
            <div class="form-group">
                <label for="passwordConfirmarID">Confirmar</label>
                <input id="passwordConfirmarID" type="password" name="passwordConfirmar"
                       class="form-control" placeholder="Confirmar contrase침a"
                       value="<%= existeApellido ? apellido : '' %>">
            </div>
            <div class="form-group">
                <label for="nombreID">Nombre</label>
                <input id="nombreID" type="text" name="nombre"
                       class="form-control" placeholder="Nombre"
                       value="<%= existeApellido ? apellido : '' %>">
            </div>
            <div class="form-group">
                <label for="apellidoID">Apellido</label>
                <input id="apellidoID" type="text" name="apellido"
                       class="form-control" placeholder="apellido"
                       value="<%= existeApellido ? apellido : '' %>">
            </div>
            <button type="submit">Registrarse</button>
            <button type="reset">limpiar</button>

        </form>
    </div>
</div>

<%- include('../compartido/footer/footer-component')%>