<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>

<%if(registroExitoso != undefined){%>
<div class="container mt-5 pt-4">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Bien hecho!</h4>
                <p>Tu empresa ha sido registrada con éxito.</p>
            </div>
        </div>
    </div>
</div>
<%}%>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron bg-transparent m-0">
                <h4 class="display-4 text-center p-0 m-0">¡Registra tu empresa y empieza a brindar oportunidades al mundo!</h4>
            </div>
        </div>
    </div>
</div>



<div class="container mb-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 ">
            <div class="card border-top-0 b border-left-0 border-right-0 radius-card-head">
                <div class="card-header rounded-top card-title-color text-center radius-card-body">
                    <h4><strong>Registrar empresa</strong></h4>
                </div>
                <div class="card-body px-5 py-4">

                    <form method="POST" action="/empresa/registrar">
                        <div class="form-group">
                            <label for="nombreEmpresaID">Nombre <span class="campo-obligatorio">*</span></label>
                            <input type="text" class="form-control"
                                   id="nombreEmpresaID" name="nombreEmpresa" required>
                        </div>
                        <div class="form-group">
                            <label for="sectorEmpresaID">Sector <span class="campo-obligatorio">*</span></label>
                            <input type="text" class="form-control"
                                   id="sectorEmpresaID" name="sectorEmpresa" required>
                        </div>
                        <div class="form-group">
                            <label for="numEmpleadosID">Número de empleados <span class="campo-obligatorio">*</span></label>
                            <input type="number" class="form-control"
                                   id="numEmpleadosID" name="numEmpleados" required>
                        </div>


                        <%if(mensajeError != undefined){%>
                        <div class="alert alert-danger text-center" role="alert">
                            <%= mensajeError%>
                        </div>
                        <%}%>

                        <div class="text-center">
                            <div class="row pt-2">
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <a href="/home/profile/<%=currentUser%>" class="a-no-underline">
                                        <button type="button"
                                                class="btn btn-danger btn-home-buscar-empleo btn-block ">Cancelar</button>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <button type="submit"
                                            class="btn btn-primary btn-home-buscar-empleo btn-block ">Enviar</button>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('../compartido/footer/footer-component')%>