<div class="form-group">
    <input hidden id="usernameID" name="username"
           value="<%=usuario.username%>">
</div>
<div class="form-group">
    <input hidden id="correoID" name="correo"
           value="<%=usuario.correo%>">
</div>

<div class="form-group">
    <input hidden id="passwordID" name="password"
           value="<%=usuario.password%>">
</div>

<div class="form-group">
    <input hidden id="nombreID" name="nombre"
           value="<%= usuario.nombre%>">
</div>

<div class="form-group">
    <input hidden id="apellidoID" name="apellido"
           value="<%=usuario.apellido%>">
</div>


<div class="form-group">
    <input hidden id="paisID" name="pais"
           value="<%=usuario.pais%>">
</div>

<div class="form-group">
    <input hidden id="ciudadID" name="ciudad"
           value="<%=usuario.ciudad%>">
</div>