<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>



<div class="container bg-light border-1 mb-5 border-top-0">
    <div class="row ">

        <div class="col-md-8">
            <div class="container mt-4">
                <div class="row ">

                    <div class="col-md-12">
                        <div class="card mb-4 shadow-sm border-1">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="card-body mx-3">
                                        <p class="card-text card-text-title m-0"><%=empleo["nombreEmpleo"]%></p>
                                        <p class="card-text m-0"><%=empleo["nombreEmpresa"]%></p>
                                        <p class="card-text m-0"><%=empleo["ubicacionEmpleo"]%></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted mt-1"><%=empleo["fechaPublicacion"]%></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-body mx-3">
                                        <a href="#" class="btn btn-outline-primary btn-block">Guardar</a>
                                        <a href="/aplicacion/solicitud/<%=idEmpleo%>" class="btn btn-primary btn-block mt-4">Solicitar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-4 shadow-sm border-1">
                            <div class="card-body mx-3">
                                <p class="card-text card-text-title">Empleo</p>
                                <p class="card-text"><span class="punto-medio-aplicacion">·</span> <%=empleo["numAplicaciones"]%> Solicitudes</p>
                                <p class="card-text"><span class="punto-medio-aplicacion">·</span> <%=empleo["nivelAntiguedad"]%></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-4 shadow-sm border-1">
                            <div class="card-body mx-3">
                                <p class="card-text card-text-title">Empresa</p>
                                <p class="card-text"><span class="punto-medio-aplicacion">·</span> <%=empleo["numEmpleados"]%> Empleados</p>
                                <p class="card-text"><span class="punto-medio-aplicacion">·</span> <%=empleo["sectorEmpresa"]%></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card mb-4 shadow-sm border-1">
                            <div class="card-body mx-3">
                                <p class="card-text card-text-title m-0">Descripcion</p>
                                <p class="card-text m-0"><%=empleo["descripcionEmpleo"]%></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card mb-4 shadow-sm border-1">
                            <div class="row no-gutters">
                                <div class="col-md-6">
                                    <div class="card-body mx-3">
                                        <p class="card-text card-text-title m-0">Nivel de experiencia</p>
                                        <p class="card-text m-0"><%=empleo["nivelAntiguedad"]%></p>
                                        <p class="card-text card-text-title m-0 mt-3">Sector</p>
                                        <p class="card-text m-0"><%=empleo["sectorEmpresa"]%></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body mx-3">
                                        <p class="card-text card-text-title m-0">Tipo de empleo</p>
                                        <p class="card-text m-0 "><%=empleo["tipoEmpleo"]%></p>
                                        <p class="card-text card-text-title m-0 mt-3">Función laboral</p>
                                        <p class="card-text m-0"><%=empleo["funcionLaboral"]%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-4 mycontent-right">
            <div class="col-12 pt-3">
                <span>Otros empleos de <%=nombreEmpresa%></span>
            </div>
            <%if(empleos.length > 0){%>
                <% empleos.forEach((empleo) =>{%>
                <div class="col-md-12 mt-3">
                    <a class="a-no-underline" href="/aplicacion/aplicar/<%=empleo["id"]%>">
                        <div class="card mb-4 shadow-sm border-1">
                            <div class="card-body">
                                <p class="card-text card-text-title m-0"><%=empleo["nombreEmpleo"]%></p>
                                <p class="card-text m-0"><%=empleo["nombreEmpresa"]%></p>
                                <p class="card-text m-0"><%=empleo["ubicacionEmpleo"]%></p>
                                <hr class="hr-card-empleo">
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted"><%=empleo["fechaPublicacion"]%></small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <%})%>
            <%}else{%>
                <div class="col-md-12 mt-3">
                    <div class="alert alert-info" role="alert">
                        Esta empresa no tiene más empleos
                    </div>
                </div>

            <%}%>
        </div>

    </div>
</div>

<%- include('../compartido/footer/footer-component')%>