<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>

<%if(publicacionExitosa != undefined){%>
    <div class="container mt-5 pt-4">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Bien hecho!</h4>
                    <p>Tu solicitud ha sido enviada con éxito.</p>
                </div>
            </div>
        </div>
    </div>
<%}%>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron bg-transparent m-0">
                <h4 class="display-4 text-center p-0 m-0">¡Completa la solicitud y consigue el empleo de tu sueños!</h4>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card border-top-0 b border-left-0 border-right-0 radius-card-head">
                <div class="card-header rounded-top card-title-color text-center radius-card-body">
                    <h4><strong>Solicitar empleo</strong></h4>
                </div>
                <div class="card-body px-5 py-4">
                    <form method="POST" action="/aplicacion/solicitud/<%=idEmpleo%>">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="aspiracionSalarialID">Aspiración salarial <span class="campo-obligatorio">*</span></label>
                                <input type="number" class="form-control" id="aspiracionSalarialID"
                                       name="aspiracionSalarial" required>
                            </div>
                            <div class="form-group col-md-9">
                                <label for="razonID">¿Por qué quiere conseguir este empleo? <span class="campo-obligatorio">*</span></label>
                                <textarea class="form-control" id="razonID" rows="1"
                                          name="razon" required></textarea>
                            </div>
                        </div>
                        <!--                        PRIMERA FILA-->
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="nombreEmpresaID">Empresa <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control" id="nombreEmpresaID"
                                       name="nombreEmpresa" readonly required
                                       value="<%=empleo['nombreEmpresa']%>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="nombreEmpleoID">Cargo <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control" id="nombreEmpleoID"
                                       name="nombreEmpleo" readonly required
                                       value="<%=empleo['nombreEmpleo']%>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="ubicacionEmpledoID">Ubicación <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control" id="ubicacionEmpledoID"
                                       name="ubicacionEmpleo" readonly required
                                       value="<%=empleo['ubicacionEmpleo']%>">
                            </div>
                        </div>
                        <!--                        SEGUNDA FILA-->
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="funcionLaboralID">Función laboral <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control" id="funcionLaboralID"
                                       name="funcionLaboral" readonly required
                                       value="<%=empleo['funcionLaboral']%>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="tipoEmpleoID">Tipo de empleo <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control" id="tipoEmpleoID"
                                       name="tipoEmpleo" readonly required
                                       value="<%=empleo['tipoEmpleo']%>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="nivelAntiguedadID">Nivel de antigüedad <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control" id="nivelAntiguedadID"
                                       name="nivelAntiguedad" readonly required
                                       value="<%=empleo['nivelAntiguedad']%>">
                            </div>
                        </div>

                        <!--                        TERCERA FILA-->
                        <div class="form-group">
                            <label for="descripcionEmpleoID">Descripción del empleo <span class="campo-obligatorio">*</span></label>
                            <textarea class="form-control" id="descripcionEmpleoID" rows="2"
                                      name="descripcionEmpleo" readonly required><%=empleo['descripcionEmpleo']%></textarea>
                        </div>

<!--AQUI VA EL MENSAJE DE ERROR-->

                        <!--                        BOTON-->
                        <div class="text-center">
                            <div class="row pt-2">
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <a href="/aplicacion/aplicar/<%=idEmpleo%>" class="a-no-underline">
                                        <button type="button"
                                                       class="btn btn-danger btn-home-buscar-empleo btn-block ">Cancelar</button>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <button type="submit"
                                            class="btn btn-primary btn-home-buscar-empleo btn-block ">Enviar</button>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../compartido/footer/footer-component')%>