<%- include('../compartido/header/header-component')%>
<%- include('../compartido/navbar/navbar-component')%>

<h1><%= titulo%></h1>
<h1><%= controlador%></h1>
<h1><%= currentUser%></h1>
<h1><%= idEmpleo%></h1>

<%- include('../compartido/footer/footer-component')%>